.right-side{
    position: fixed;
    right: 0;
    top: 10vh;
    margin:auto;
}

/*.item{
     top: 50px;
     margin:auto;
     min-width: 200px;
     min-height: 35px;
     z-index: 1010;

 }

.item:hover{
    background: #ff0000;
    border-radius: 4px;
}*/

.header{
    font-size: 25px;
}

.header i.icon{
    position: absolute;
    right: 0;
    margin: auto;
}

#temp-bg-img2{
    height: 0px;
    width: 0px;
    border: none;
}

#right-side-menu{
    height: 100%;
    position: fixed;
}