
<div class="element"
    draggable="true"
    (click)="onclick($event)"
    (dblclick)="onEleDblclick($event)"
    (dragend)="onEleDragend($event)"
    (dragstart)="onEleDragstart($event)"
    [ngStyle]="{'left': ele.px, 'top': ele.py,  'height':ele.height, 'border-radius':ele.borderRadius, 'opacity':ele.opacity}"
    #elementDiv
>

    <div [ngSwitch]="ele.type"  [ngStyle]="{'position':'absolute', 'top': '0', 'left':'0'}">
        <div *ngSwitchCase="'img'"
                [ngStyle]="{'-webkit-transform': 'rotate('+ele.angle+'deg)', 'transform':'rotate('+ele.angle+'deg)'}"
        >
            <img src="../../../../../src/assets/img/drawable-xxhdpi-icon.png"
                    [ngStyle]="{'width': ele.width, 'height': ele.height, 'border-radius':ele.borderRadius}"
            >
        </div>

        <div *ngSwitchCase="'text'"
                [ngStyle]="{'display':'table-cell', 'vertical-align':'middle', 'text-align':'center', 'width': ele.width, 'height': ele.height,'-webkit-transform': 'rotate('+ele.angle+'deg)', 'transform':'rotate('+ele.angle+'deg)'}"
                class="test33"
                
        >
            <!--<span>{{ele.name}}</span>-->
            <span [ngStyle]="{'line-height':ele.fontSize + 'px', 'width': ele.width, 'font-weight': ele.fontWeight, 'font-size': ele.fontSize, 'color': ele.color}"
                class="testSpan"
                #textLabel
                id="textLabel"
                contenteditable="true"
                (input)="resize($event)"
                >

                {{ele.name}}
            </span>

        </div>
    </div>

</div>
