
.content{
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    background: url("../../../../../src/assets/img/drawable-xxhdpi-icon.png")no-repeat;
    background-size: 100%;
    content: '';
}

.element{
    position: absolute;
    z-index: 1500;
    width: auto;
    display:inline-block;
    *display:inline;
    *zoom:1;
}

.element:hover{
    border: 1px solid #0905ff;
}

